@import 'variables';

.header {
  border-bottom: 1px solid $fg-color;
  height: 50px;
  padding: 10px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: default;
  }
}

.nav-bar {
  ul {
    display: flex;
    align-items: center;
  }

  li {
    margin-left: 20px;
  }
}

