@import 'variables';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-screen {
  background: rgba($bg-color * 0.25, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-content {
  padding: 25px;
  background: $bg-color;
  border-radius: 4px;
  z-index: 1000;
}

.modal-buttons {
  width: 100%;
  min-width: 180px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
