@import 'variables';

.piano-roll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  max-height: 600px;
  overflow: scroll;

  li:first-child .matrix-cell {
    border-top: thin solid $grid-color;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $bg-color * 0.75;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $fg-color;
  }
}


.matrix-row {
  display: flex;
}

.matrix-cell {
  border-right: thin solid $grid-color;
  border-bottom: thin solid $grid-color;
  min-width: 24px;
  min-height: 12px;

  display: flex;

  &:first-child {
    border-left: thin solid $grid-color;
  }
}

.note-on, .note-continue, .note-off {
  background-color: $note-color;
}

.note-on, .note-continue {
  border-right: thin solid $note-color;

}

.note-continue {
  .note-tail {
    display: none;
  }
}

.note-body {
  flex: 1;
  &:hover {
    cursor: crosshair;
  }
}

.note-off {
  border-right: thin solid $grid-color;

  .note-tail {
    width: 25%;
    background-color: $note-color * 1.5;

    &:hover {
      cursor: col-resize;
    }
  }
}

