@import 'variables';

.piano-roll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix {
  margin-top: 50px;
  max-width: 800px;
  max-height: 600px;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: $bg-color * 0.75;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $fg-color;
  }

  &::-webkit-scrollbar-corner {
    background-color: $bg-color * 0.75;
  }
}

.matrix-row {
  display: flex;
  &:first-child .matrix-cell {
    border-top: 1px solid $grid-color;
  }
}

.matrix-cell {
  flex: 1;
  height: $cell-height;
  min-width: $cell-width;

  &:last-child {
    border-right: 1px solid $grid-color;
  }
}

.note, .null-note {
  border-left: 1px solid $grid-color;
  border-bottom: 1px solid $grid-color;
  height: $cell-height - 1px;
}

.null-note {
  width: 100%;

}
.note {
  position: relative;
  display: flex;
}

.note-body {
  background-color: rgba($note-color, 0.75);
  flex: 1;
}

.note-tail {
  width: 8px;
  background-color: rgba($note-color, 0.5);
}
