@import 'variables';

.settings {
  flex-direction: column;
  text-align: center;
}

.transport {
  border: 1px dashed $grid-color;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.playback-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  .button {
    width: 54px;
  }
}

.tempo-control {
  display: flex;
  width: 76px;
  align-items: center;
  justify-content: space-between;
  .button {
    height: 24px;
    width: 24px;
  }
}

.track-list {
  flex: 1;
  border: 1px dashed $grid-color;
  border-right: none;
  margin: 16px 0;
  padding: 8px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $bg-color * 0.75;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $fg-color;
  }
}

.track-listing {
  text-align: left;
  border: 1px dotted $grid-color;
  margin: 10px 0;
  padding: 2px;
}

.track-listing-controls {
  display: flex;
  align-items: center;

  input[type=range] {
    flex: 1;
  }
}

.current-track {
  background-color: rgba($fg-color, 0.25);
}

.track-editor {
  padding: 8px;
  display: flex;
  flex-direction: column;

  border: 1px dashed $grid-color;

}

.track-controls {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 150px;
  height: 5px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid $fg-color;
    background-color: $fg-color;
    width: 16px;
    height: 8px;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    border: 1px solid $fg-color;
  }
}
