@import 'variables';

.settings {
  flex-direction: column;
}

.transport {
  border: 1px dashed $grid-color;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  min-height: 48px;
}

.playback-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  .button {
    width: 54px;
  }
}

.tempo-control {
  display: flex;
  width: 76px;
  align-items: center;
  justify-content: space-between;
  .button {
    height: 24px;
    width: 24px;
  }
}

.track-list {
  flex: 1;
  border: 1px dashed $grid-color;
  border-right: none;
  margin: 16px 0;
  padding: 8px;
  overflow-y: scroll;
}

.track-list-header {
  display: flex;
  justify-content: space-between;

  .button {
    display: table-cell;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
  }
}

.track-listing {
  text-align: left;
  border: 1px dotted $grid-color;
  margin: 10px 0;
  padding: 8px;
}

.track-header {
  display: flex;
  justify-content: space-between;

  .button {
    width: 16px;
    height: 16px;
    &:hover {
      background-color: $error-color;
      color: $fg-color;
    }
  }
}

.track-listing-controls {
  display: flex;
  align-items: center;

  input[type=range] {
    flex: 1;
    margin: 5px 0;

  }
}

.current-track {
  background-color: rgba($fg-color, 0.25);
}

.track-editor {
  padding: 8px;
  display: flex;
  min-height: 130px;
  flex-direction: column;

  border: 1px dashed $grid-color;
}

#waveform {
  text-align: center;
  color: $fg-color;
  background: transparent;
  border: 1px solid $fg-color;

  option {
    background: $bg-color;

  }
}

.track-controls {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
  }
}
